checkpoints/*.pt filter=lfs diff=lfs merge=lfs -text
data/ocr_cache.json filter=lfs diff=lfs merge=lfs -text
results/*.png filter=lfs diff=lfs merge=lfs -text
results/*.jpg filter=lfs diff=lfs merge=lfs -text